# -----------------------
# SECURITY & SECRETS (Crucial)
# -----------------------
.env
.env.*
*.env
key.jks
keystore.jks
key.properties

# -----------------------
# FLUTTER STANDARD
# -----------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
/build/
.pub-cache/
.pub/

# -----------------------
# ANDROID
# -----------------------
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/.gradle
/android/captures/
/android/gradlew
/android/gradlew.bat

# -----------------------
# iOS / MACOS
# -----------------------
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/.last_build_id
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# -----------------------
# WEB
# -----------------------
lib/generated_plugin_registrant.dart

# -----------------------
# MISC & IDE
# -----------------------
.idea/
.vscode/
*.iml
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.history
.svn/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json